/* 
* Variables
* Nestings (with &)
* Mixins
* Inheritance
* Partial files and imports
* Math operators

* Functions
* if, for, each, while
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#sass-variables-mixins {
  display: inline-block;
  width: 33.33333%;
}
#sass-variables-mixins > div {
  margin: 1%;
}
#sass-variables-mixins .box {
  background-color: #DE2222;
  display: block;
  height: 200px;
  width: 200px;
}
#sass-variables-mixins .circle, #sass-variables-mixins #sass-inheritance .inherit-circle, #sass-inheritance #sass-variables-mixins .inherit-circle {
  background-color: #2BA1EB;
  display: block;
  height: 100px;
  width: 100px;
  border: 1px solid #2BA1EB;
  border-radius: 100px;
}
#sass-variables-mixins .transition-box {
  background-color: #2BA1EB;
  display: block;
  height: 100px;
  width: 100px;
  -webkit-transition: background-color ease-in-out 0.1s;
  -moz-transition: background-color ease-in-out 0.1s;
  -o-transition: background-color ease-in-out 0.1s;
  transition: background-color ease-in-out 0.1s;
}
#sass-variables-mixins .transition-box:hover {
  background-color: #DE2222;
}

#sass-inheritance {
  display: inline-block;
  width: 33.33333%;
}
#sass-inheritance .circle, #sass-inheritance .inherit-circle {
  background-color: yellow;
  display: block;
  height: 200px;
  width: 200px;
  border: 1px solid yellow;
  border-radius: 200px;
}
#sass-inheritance .inherit-circle {
  background-color: green;
}

#grid {
  float: left;
  width: 100%;
  height: 1000px;
}
#grid > div {
  width: 12.5%;
  background-color: #C32626;
  float: left;
  height: 50px;
  padding: 0;
  margin: 0;
}
#grid div:nth-child(2n) {
  background-color: #E55D5D;
}

/*# sourceMappingURL=style.css.map */
