/* 
* Variables
* Nestings (with &)
* Mixins
* Inheritance
* Partial files and imports
* Math operators

* Functions
* if, for, each, while
*/
@import "partials/css_reset";
@import "partials/grid";
@import "partials/my_functions";

$red: #DE2222;
$blue: #2BA1EB;
$box-size: 200px;
$circle-radius: 100px;

@mixin box($size, $color) {
    background-color: $color;
    display: block;
    height: $size;
    width: $size;
}

@mixin circle($radius, $color) {
    @include box($radius, $color);
    border: 1px solid $color;
    border-radius: $radius;
}

@mixin bg-transition($time) {
    -webkit-transition: background-color ease-in-out $time;
    -moz-transition: background-color ease-in-out $time;
    -o-transition: background-color ease-in-out $time;
    transition: background-color ease-in-out $time; 
}

@mixin rtl($direction) {

}

#sass-variables-mixins {
    display: inline-block;
    width: percentage(1/3);
    & > div {
        margin: 1%;
    }

    .box {
        @include box($box-size, $red);
    }

    .circle {
        @include circle($circle-radius, $blue)
    }

    .transition-box {
        @include box(100px, $blue);
        @include bg-transition(0.1s);

        &:hover {
            background-color: $red;
        }
    }
}

#sass-inheritance {
    display: inline-block;
    width: percentage(1/3);
    .circle {
        @include circle(200px, yellow);
    }
    .inherit-circle {
        @extend .circle;
        background-color: green;
    }
}

$light-red: #E55D5D;
$dark-red: #C32626;

#grid {
    float: left;
    width: 100%;
    height: 1000px;
    & > div {
        @include columns(8);
        background-color: $dark-red;
        float: left;
        height: 50px;
        padding: 0;
        margin: 0;
    }
    div:nth-child(2n) {
        background-color: $light-red;
    }
}
